<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GoogleChrome" />
  <!-- editor -->
  <package id="vim" />
  <package id="SublimeText3" />
  <package id="SublimeText3.PackageControl" />
  <!-- env -->
  <package id="DotNet4.5" />
  <package id="golang" />
  <package id="javaruntime" />
  <package id="jdk8" />
  <package id="jre8" />
  <package id="php" />
  <package id="PowerShell" />
  <package id="python3" />
  <package id="ruby" />
  <!-- command -->
  <package id="git.commandline" />
  <package id="git.install" />
  <package id="Gow" />
  <!-- ide-->
  <package id="eclipse" />
  <package id="VisualStudio2013Professional" />
  <!-- build tool -->
  <package id="gradle" />
  <package id="maven" />
  <package id="apache.ant" />
  <!-- tools -->
  <package id="7zip" />
  <package id="7zip.install" />
  <package id="binroot" />
  <package id="chocolatey" />
  <package id="ChocolateyGUI" />
  <package id="filezilla" />
  <package id="flashplayerplugin" />
  <package id="SourceTree" />
  <package id="teraterm" />
  <package id="winmerge" />
  <package id="winscp" />
  <package id="winscp.install" />
  <package id="everything.beta" />
  <package id="everything.beta.install" />
</packages>
